*{
  box-sizing: border-box;
}
html{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.header{
  display: flex;
  height: 3em;
  padding-left: 1 em;
  padding-right: 1 em;
  background-color: #eee;
}
.fa-bars{
  font-size: 2em;
}
.button{
  padding: none;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  justify-content: center;
}
.nav-list{
  list-style-type: none;
  padding: 0;
}
.navigation{
  max-width: 20%;
  padding: 0.5em;
}
.nav-list-item{
  display: flex;
  background-color: #808080;
  margin-bottom: 0.5em;

}
.nav-list-link{
  padding: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 600px){
  .button .fa-bars{
    visibility: hidden;
  }
}
@media  screen and (max-width: 599px){
  .navigation{
    visibility: hidden;
  }
}
