body{
  background-color: antiquewhite
}
.content{
  box-sizing: content-box;
  background-color: aquamarine;
}
.border{
  box-sizing: border-box;
  background-color: azure;
}
.box{
  border: 8px solid black;
  margin: 16px;
  padding: 16px;
  height: 128px;
  width: 512px;
}