.list{
  list-style-type: none;
  line-height: 30px;
  font-size: 150%;
}
.first{
  text-decoration: red overline;
}
.second{
  text-decoration: line-through;
}
.third{
  text-decoration: green underline
}